{% extends 'base-card.html.twig' %}

{% block title %}Reset password - Repman{% endblock %}

{% block card %}
    <div class="card" method="post">
        <div class="card-body p-6">
            <div class="card-title">Change password</div>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}
