{% extends 'base.html.twig' %}

{% block title %}Reset password - Repman{% endblock %}

{% block body %}
<body class="antialiased border-top-wide border-primary">
    <div class="d-flex h-auto min-h-full justify-content-center">
        <div class="d-flex align-items-center justify-content-center flex-fill">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <div class="text-center mb-4">
                            <h2>Repman</h2>
                        </div>
                        <div class="card" method="post">
                            <div class="card-body p-6">
                                <div class="card-title">Change password</div>

                                {{ form(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
