{% extends 'base-card.html.twig' %}

{% block title %}Reset password - Repman{% endblock %}

{% block card %}
    <div class="card" method="post">
        <div class="card-body p-6">
            <div class="card-title">Reset your password</div>

            {% include 'component/flash.html.twig' %}

            <p>Provide your email and we'll send you a password reset link.</p>

            {{ form(form) }}

        </div>
    </div>
    {% include 'component/signUpLink.html.twig' %}
{% endblock %}
