framework:
    messenger:
        buses:
            messenger.bus.default:
                middleware:
                    - 'Buddy\Repman\Service\Symfony\ConsumedMessageLoggerMiddleware'
                    - doctrine_transaction
        failure_transport: failed

        transports:
            async: 'doctrine://default?auto_setup=false'
            failed: 'doctrine://default?queue_name=failed&auto_setup=false'

        routing:
            'Buddy\Repman\Message\Organization\SynchronizePackage': async
            'Buddy\Repman\Message\Organization\Package\AddGitHubHook': async
            'Buddy\Repman\Message\Organization\Package\AddGitLabHook': async
            'Buddy\Repman\Message\Organization\Package\AddBitbucketHook': async
            'Buddy\Repman\Message\User\SendPasswordResetLink': async
            'Buddy\Repman\Message\User\SendConfirmToken': async
            'Buddy\Repman\Message\Proxy\AddDownloads': async
            'Buddy\Repman\Message\Security\ScanPackage': async
            'Buddy\Repman\Message\Security\SendScanResult': async
            'Buddy\Repman\Message\Admin\AddTechnicalEmail': async
            'Buddy\Repman\Message\Admin\RemoveTechnicalEmail': async
