nelmio_api_doc:
    models: { use_jms: false }

    documentation:
        openapi: '3.0.0'
        info:
            title: Repman
            description: Private PHP Package Repository Manager
            version: 1.0.0
        servers:
          - url: '%url_scheme%://%env(default:domain:APP_PUBLIC_HOST)%'
            description: API
        components:
            securitySchemes:
                ApiToken:
                    type: apiKey
                    in: header
                    name: X-API-TOKEN
        security:
            - ApiToken: []
    areas:
        path_patterns:
            - ^/api(?!/doc)
