security:
    encoders:
        Buddy\Repman\Security\Model\User:
            algorithm: auto
    providers:
        user_provider:
            id: Buddy\Repman\Security\UserProvider
        organization_provider:
            id: Buddy\Repman\Security\OrganizationProvider
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        repo:
            host: '([a-z0-9_-]+)\.repo\.(.+)'
            anonymous: true
            logout: false
            stateless: true
            provider: organization_provider
            guard:
                authenticators:
                    - Buddy\Repman\Security\TokenAuthenticator
                    - Buddy\Repman\Security\AnonymousOrganizationUserAuthenticator
                entry_point: Buddy\Repman\Security\AnonymousOrganizationUserAuthenticator
        main:
            anonymous: lazy
            provider: user_provider
            guard:
                authenticators:
                    - Buddy\Repman\Security\LoginFormAuthenticator
                    - Buddy\Repman\Security\GitHubAuthenticator
                    - Buddy\Repman\Security\GitLabAuthenticator
                    - Buddy\Repman\Security\BitbucketAuthenticator
                    - Buddy\Repman\Security\BuddyAuthenticator
                entry_point: Buddy\Repman\Security\LoginFormAuthenticator
            logout:
                path: app_logout
                target: index
            remember_me:
                secret:   '%kernel.secret%'
                lifetime: 604800 # 1 week in seconds
                path:     /
            user_checker: Buddy\Repman\Security\UserChecker

    access_control:
         - { path: ^/admin, roles: ROLE_ADMIN }
         - { path: ^/user, roles: ROLE_USER }
         - { path: ^/$, roles: ROLE_USER }
         - { path: ^/organization/.+/overview$, roles: ROLE_ORGANIZATION_ANONYMOUS_USER }
         - { path: ^/organization/.+/package$, roles: ROLE_ORGANIZATION_ANONYMOUS_USER }
         - { path: ^/organization/.+/package/.+/details$, roles: ROLE_ORGANIZATION_ANONYMOUS_USER }
         - { path: ^/organization/.+(/.+)*, roles: ROLE_ORGANIZATION_MEMBER }
         - { path: ^/downloads, host: '([a-z0-9_-]+)\.repo\.(.+)', roles: IS_AUTHENTICATED_ANONYMOUSLY}
         - { path: ^/, host: '([a-z0-9_-]+)\.repo\.(.+)', roles: ROLE_ORGANIZATION }
