{% extends 'base.html.twig' %}

{% block header %}Add new package{% endblock %}

{% block content %}
<h3>Import from {{ type }}</h3>
 <div class="row">
    <div class="col-md-6 col-lg-4">
        {{ form(form) }}
    </div>
</div>

{% endblock %}
