{% extends 'base.html.twig' %}

{% block header %}Create a new organization{% endblock %}

{% block content %}
 <div class="row">
    <div class="col-md-6 col-lg-4">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
