{% extends "base.html.twig" %}

{% block header %} {{ organization.name }} overview:{% endblock %}

{% block content %}
    <div class="markdown">
        Place for composer instructions
    </div>
{% endblock %}
