{% extends "base.html.twig" %}

{% block header %} {{ organization.name }} packages:{% endblock %}

{% block content %}
    <div class="markdown">
        Place for {{ organization.name }} packages
    </div>
{% endblock %}
