/.git
/.gitignore
/buddy.yml
/ansible
/docker
!/docker/nginx/cert
/tests
/var/*

###> php-cs-fixer/shim ###
/.php-cs-fixer.cache
/.php-cs-fixer.dist.php
###< php-cs-fixer/shim ###

###> phpunit/phpunit ###
/phpunit.xml
/phpunit.xml.dist
/.phpunit.result.cache
/coverage
/clover.xml
###< phpunit/phpunit ###

###> IDE ###
/.vscode
/.phan
###< IDE ###

###> OS ###
.DS_Store
###< OS ###
