includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- phpstan-baseline.neon
parameters:
    level: max
    reportMaybesInPropertyPhpDocTypes: false
    checkExplicitMixed: false
    paths:
        - src/
        - tests/
    bootstrapFiles:
        - vendor/twig/twig/src/Extension/CoreExtension.php # twig global functions
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/test/Buddy_Repman_KernelTestDebugContainer.xml'
