includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    excludes_analyse:
        - src/Entity/Organization.php
    ignoreErrors:
        -
            message: "#^Strict comparison using \\!\\=\\= between string and null will always evaluate to true\\.$#"
            count: 1
            path: src/Service/PackageSynchronizer/ComposerPackageSynchronizer.php

        -
            message: "#^Variable property access on DateInterval\\.$#"
            count: 1
            path: src/Service/Twig/DateExtension.php

        -
            message: "#^Only booleans are allowed in a ternary operator condition, int given\\.$#"
            count: 1
            path: src/Service/Twig/DateExtension.php
        -
            message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
            count: 4
            path: src/Service/PackageSynchronizer/ComposerPackageSynchronizer.php
        -
            message: "#^Variable \\$http_response_header in isset\\(\\) always exists and is not nullable\\.$#"
            count: 1
            path: src/Service/Downloader/ReactDownloader.php

    bootstrapFiles:
        - vendor/twig/twig/src/Extension/CoreExtension.php # twig global functions
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/test/Buddy_Repman_KernelTestDebugContainer.xml'
