includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    level: max
    reportMaybesInPropertyPhpDocTypes: false
    checkExplicitMixed: false
    ignoreErrors:
        -
            message: "#^Parameter \\#3 \\$reference of class Buddy\\\\Repman\\\\Entity\\\\Organization\\\\Package\\\\Version constructor expects string, string\\|null given\\.$#"
            count: 2
            path: src/Service/PackageSynchronizer/ComposerPackageSynchronizer.php
        -
            message: "#^Parameter \\#[0-9]+ \\$[a-z]+ of class Buddy\\\\Repman\\\\Service\\\\Dist constructor expects string, string\\|null given\\.$#"
            count: 2
            path: src/Service/PackageSynchronizer/ComposerPackageSynchronizer.php
        -
            message: "#^Variable method call on Composer\\\\Package\\\\BasePackage\\.$#"
            count: 1
            path: src/Service/PackageSynchronizer/ComposerPackageSynchronizer.php
        -
            message: "#^Variable property access on DateInterval\\.$#"
            count: 1
            path: src/Service/Twig/DateExtension.php
        -
            message: "#^Variable \\$http_response_header in isset\\(\\) always exists and is not nullable\\.$#"
            count: 1
            path: src/Service/Downloader/ReactDownloader.php
        -
            message: "#^Property .+ is never read, only written\\.$#"
            path: src/Entity/
        -
            message: "#^Property .+\\:\\:\\$key is unused\\.$#"
            count: 1
            path: src/Entity/Config.php
        -
            message: "#^Variable method call on React\\\\Http\\\\Browser\\.$#"
            count: 1
            path: src/Service/Downloader/ReactDownloader.php
        -
            message: "#^Service \"[.a-zA-Z\\\\]+\" is private\\.$#"
            paths:
                - tests/
        -
            message: """
                    #^Call to deprecated method getUsername\\(\\) of class Buddy\\\\Repman\\\\Security\\\\Model\\\\User\\:
                    since Symfony 5\\.3, use getUserIdentifier\\(\\) instead$#
                """
            count: 1
            path: tests/Unit/Security/Model/UserTest.php
        -
            message: """
                    #^Call to deprecated method getUsername\\(\\) of class Buddy\\\\Repman\\\\Security\\\\Model\\\\Organization\\:
                    since Symfony 5\\.3, use getUserIdentifier\\(\\) instead$#
                """
            count: 1
            path: tests/Unit/Security/Model/OrganizationTest.php

    bootstrapFiles:
        - vendor/twig/twig/src/Extension/CoreExtension.php # twig global functions
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/test/Buddy_Repman_KernelTestDebugContainer.xml'
