<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="config/bootstrap.php" beStrictAboutChangesToGlobalState="true" beStrictAboutOutputDuringTests="true">
  <coverage>
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory>./src/Migrations</directory>
      <directory>./src/DataFixtures</directory>
      <file>./src/Kernel.php</file>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1" />
    <server name="APP_ENV" value="test" force="true" />
    <server name="SHELL_VERBOSITY" value="-1" />
  </php>
  <extensions>
    <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension" />
  </extensions>
  <testsuites>
    <testsuite name="unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>tests/Integration</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>tests/Functional</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
      <arguments>
        <array>
          <element key="slowThreshold">
            <integer>500</integer>
          </element>
        </array>
      </arguments>
    </listener>
  </listeners>
</phpunit>
