{% extends 'base-card.html.twig' %}

{% block title %}Register - Repman{% endblock %}

{% block card %}
    <div class="card" method="post">
        <div class="card-body p-6">
            <div class="card-title">Register</div>

            {{ form(registrationForm) }}
        </div>
    </div>
{% endblock %}
