{% extends "base.html.twig" %}

{% block header %}Downloaded packages{% endblock %}

{% block content %}
<div class="markdown">
    {% for proxy, packages in proxies %}
        <h4>{{ proxy }}</h4>
        <ul>
            {% for package in packages %}
                <li class="mb-1">
                    {{ package }}
                    <button
                        class="btn btn-danger btn-sm"
                        type="button"
                        data-target="confirmation"
                        data-action="{{ path('admin_dist_remove', {packageName: package}) }}"
                        data-method="DELETE"
                    >
                        Remove
                    </button>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endblock %}
