# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    package_name_pattern: '[A-Za-z0-9_.-]+/[A-Za-z0-9_./-]+?'
    organization_pattern: '[a-z0-9_-]+' # remember to change in security.yaml (access_control)
    uuid_pattern: '[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}'
    dists_dir: '%kernel.project_dir%/var/proxy'
    repo_dir: '%kernel.project_dir%/var/repo'
    domain: '%env(resolve:APP_HOST)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
            $distsDir: '%dists_dir%'
            $resetPasswordTokenTtl: 86400 # 24h
            Symfony\Component\HttpFoundation\Session\Session $session: '@session'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    Buddy\Repman\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    Buddy\Repman\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
    Buddy\Repman\Service\Cache:
        class: Buddy\Repman\Service\Cache\FileCache
        arguments:
            - '%dists_dir%'

    Buddy\Repman\Service\Dist\Storage:
        class: Buddy\Repman\Service\Dist\Storage\FileStorage

    repman.organization.dist_storage:
        class: Buddy\Repman\Service\Dist\Storage\FileStorage
        arguments:
            $distsDir: '%repo_dir%'

    Buddy\Repman\Service\Mailer\SymfonyMailer:
        arguments:
            $sender: '%env(resolve:MAILER_SENDER)%'

    Buddy\Repman\Service\Organization\PackageManager:
        arguments:
            $baseDir: '%repo_dir%'
            $distStorage: '@repman.organization.dist_storage'
