{% extends 'base.html.twig' %}

{% block header %}Repman configuration{% endblock %}

{% block content %}
 <div class="row">
    <div class="col-md-6 col-lg-5">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
