{% if text is defined %}
    <a href="https://repman.io/docs/{{ article }}" target="_blank" rel="noreferrer noopener">{{ text }}</a>
{% else %}
    <span class="col-auto align-self-center">
        <a href="https://repman.io/docs/{{ article }}" target="_blank" rel="noreferrer noopener">
            <span class="form-help" data-toggle="popover" data-placement="top">?</span>
        </a>
    </span>
{% endif %}
