{% extends "base.html.twig" %}

{% block header %}Usage{% endblock %}

{% block content %}
    Use this composer plugin:
    <div class="highlight">
        <pre>
composer global require buddy-works/repman-composer-plugin</pre>
    </div>

    or add this lines to your composer.json file:<br />

<div class="highlight">
        <pre>
{
    "repositories": [
        {"type": "composer", "url": "{{ url('proxy_repo_url') | trim('/') }}"},
        {"packagist": false}
    ]
}</pre></div>

    and then update composer.lock file:

    <div class="highlight">
        <pre>
composer update --lock</pre></div>

{% endblock %}
