{% extends "base.html.twig" %}

{% block header %}Packages list{% endblock %}

{% block content %}
<div class="markdown">
    {% for proxy, packages in proxies %}
        <h4>{{ proxy }}</h4>
        <ul>
            {% for package in packages %}
                <li>{{ package }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endblock %}
