{% extends 'base.html.twig' %}

{% block header %}Invite a new member{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <p>
            See documentation for {% include 'component/docsLink.html.twig' with {'text': 'members and permissions', 'article': 'organization#members-and-permissions'} %}.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-lg-4">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
