{% extends "base.html.twig" %}

{% block body %}
    <body class="antialiased border-top-wide border-primary">
        <div class="d-flex align-items-center justify-content-center min-vh-100">
            <div class="empty">
                <div class="empty-icon">
                    <div class="display-4">{{ status_code }}</div>
                </div>
                <p class="empty-title h3">{% block status_text %}Oops&hellip; You just found an error page{% endblock %}</p>
                <p class="empty-subtitle text-muted">
                    {% block status_description %}{% endblock %}
                </p>
                {% block button %}
                    <div class="empty-action">
                        <a href="{{ path('index') }}" class="btn btn-primary">
                            {% include 'svg/arrow-left.svg' %} Take me home
                        </a>
                    </div>
                {% endblock %}
            </div>
        </div>
    </body>
{% endblock %}
